./idea/
!.idea/vcs.xml
!.idea/icon.png
.idea/workspace.xml
.idea/inspectionProfiles
.idea/misc.xml
.idea/modules.xml
*.pyo
*.iml
*.ipr
.allure
.gradle
.cache
*.log
schema
Report/
allure-report/
*.html
**/__pycache__/
*.pyc
build
/*/allure-results/
out
.gradletasknamecache